{% autoescape off %}
Hello {{ user.get_username }},

We received a request to reset your password for your account at our GDPR Compliance Platform.

Please go to the following page to choose a new password:
{{ protocol }}://{{ domain }}{% url 'gdpr_platform:custom_password_reset_confirm' uidb64=uid token=token %}

Security Information:
- Request Origin: {{ user_ip }}
- Request Time: {{ timestamp }}
- Security Level: {{ security_level }}
{% if ai_verified %}- AI Security Verified: Yes{% endif %}

Your username, in case you've forgotten: {{ user.get_username }}

If you didn't request this password reset, please ignore this email or contact our support team if you have concerns.

Thanks,
The GDPR Compliance Team
{% endautoescape %}
